// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$height: 96px;
$buttonColor: white;
$qtyColor: lighten(#4bb9d4, 8%);
$subColor: lighten(red, 16%);
$roundRadius: 8px;
$bodyBG: #e2e2e2;
$borderColor: darken($bodyBG, 24%);



body {
  font-family: -apple-system-font, "Helvetica-Neue", Helvetica, sans-serif;
  margin: 0;
  background-color: $bodyBG;
}

.container {
  margin: 0 auto;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  columns: 2;
  padding: 1%;
  margin-bottom: 60px;
}

a {
  color: #000;
  font-weight: none;
}

.button_container {
  display: inline-block;
  width: 100%;
  height: $height;
  margin: 0 auto;
  margin-bottom: 2.8%;
  //box-shadow: 1px 1px darken($buttonColor, 40%);
  border-radius: $roundRadius;
  //border: 2px solid darken($buttonColor, 40%);
  background-color: $buttonColor;

}


.name {
  min-width: calc(60% - 2px);
  min-height: calc(100% - 4px);
  max-height: calc(100% - 4px);
  display: inline-block;
  margin: 0;
  text-align: center;
  line-height: $height;
  background-color: $buttonColor;
  font-size: 2em;
  border-top-left-radius: $roundRadius;
  border-bottom-left-radius: $roundRadius;
  border: 2px solid $borderColor;
  border-right: none;
}


.buttonSub {
  width: 20%;
  background-color: $subColor;
  float: right;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: $height;
  font-size: 4em;
  //border-top-left-radius: $roundRadius;
  //border-bottom-left-radius: $roundRadius;
  border-style:  none;
}

.buttonQty {
  width: 20%;
  background-color: $qtyColor;
  height: 100%;
  font-size: 1.8em;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  float: right;
  text-align: center;
  line-height: $height;
  border-top-right-radius: $roundRadius;
  border-bottom-right-radius: $roundRadius;
  border-style:  none;
}

.lastaction {
  background-color: #333;
  color: #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  padding: 12px;
}
